@page "/EntradasGuacales/Create"
@using P1_AP1_GregoryRodriguez.Services
@using P1_AP1_GregoryRodriguez.Models
@inject EntradasGuacalesService entradasGuacalesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<EditForm Model="Entrada" OnValidSubmit="Crear">
	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Crear Entrada</h5>
			</div>

			<div class="card-body">
				<div class="mt-3">
					<label class="form-label">EntradaId</label>
					<InputNumber class="form-control" @bind-Value="Entrada.IdEntrada"></InputNumber>
				</div>

				<div class="mt-3">
					<label class="form-label">Nombre Cliente</label>
					<InputText class="form-control" @bind-Value="Entrada.NombreCliente"></InputText>
					<ValidationMessage class="alert" For="@(() => Entrada.NombreCliente)"></ValidationMessage>
				</div>

				<div class="mt-3">
					<label class="form-label">Fecha</label>
					<InputDate class="form-control" @bind-Value="Entrada.Fecha"></InputDate>
				</div>

				<div class="mt-3">
					<label class="form-label">Cantidad</label>
					<InputNumber class="form-control" @bind-Value="Entrada.Cantidad"></InputNumber>
					<ValidationMessage class="alert" For="@(() => Entrada.Cantidad)"></ValidationMessage>
				</div>

				<div class="mt-3">
					<label class="form-label">Precio</label>
					<InputNumber class="form-control" @bind-Value="Entrada.Precio"></InputNumber>
					<ValidationMessage class="alert" For="@(() => Entrada.Precio)"></ValidationMessage>
				</div>
			</div>

			<div class="card-footer text-center">
				<a href="/" class="btn btn-secondary bi bi-arrow-left">Volver</a>
				<button type="submit" class="btn btn-primary bi bi-floppy" @onclik="Crear">Crear</button>
			</div>
		</div>
		
	</div>
</EditForm>

@if(!string.IsNullOrEmpty(Mensaje))
{
	<label class="alert alert-danger">Mensaje</label>
}

@code {
	public EntradasGuacales Entrada { get; set; } = new EntradasGuacales();
	public string Mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		Entrada.Fecha = DateTime.Now;
	}

	public async Task Crear()
	{
		var guardado = await entradasGuacalesService.Guardar(Entrada);

		if(guardado)
		{
			navigationManager.NavigateTo("/");
		}
		else
		{
			Mensaje = "No se pudo guardar correctamente";
		}
	}
}
